.Rproj.user
.Rhistory
.RData
.Ruserdata
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000001.gdbindexes
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000001.gdbtable
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000001.gdbtablx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000001.TablesByName.atx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000002.gdbtable
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000002.gdbtablx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000003.gdbindexes
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000003.gdbtable
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000003.gdbtablx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000004.CatItemsByPhysicalName.atx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000004.CatItemsByType.atx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000004.FDO_UUID.atx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000004.gdbindexes
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000004.gdbtable
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000004.gdbtablx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000004.spx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000005.CatItemTypesByName.atx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000005.CatItemTypesByParentTypeID.atx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000005.CatItemTypesByUUID.atx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000005.gdbindexes
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000005.gdbtable
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000005.gdbtablx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000006.CatRelsByDestinationID.atx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000006.CatRelsByOriginID.atx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000006.CatRelsByType.atx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000006.FDO_UUID.atx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000006.gdbindexes
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000006.gdbtable
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000006.gdbtablx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000007.CatRelTypesByBackwardLabel.atx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000007.CatRelTypesByDestItemTypeID.atx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000007.CatRelTypesByForwardLabel.atx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000007.CatRelTypesByName.atx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000007.CatRelTypesByOriginItemTypeID.atx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000007.CatRelTypesByUUID.atx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000007.gdbindexes
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000007.gdbtable
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000007.gdbtablx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000009.gdbindexes
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000009.gdbtable
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000009.gdbtablx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/a00000009.spx
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/gdb
CorrelatesData/groads-v1-global-gdb/gROADS_v1.gdb/timestamps
CorrelatesData/groads-v1-global-gdb/gROADSv1-ReadMe.txt
CorrelatesData/groads-v1-global-gdb/gROADSv1_documentation.pdf
CorrelatesData/elevation/wc2.1_30s/wc2.1_30s_elev.tif
CorrelatesData/countryElevations.csv
CorrelatesData/countryElevations_var.csv
